{% extends "base.html" %}
{% block title %} Записи сообщества {{group}} | Yatube {% endblock %}
{% block header %} {{group}} {% endblock %}
{% block content %}


    {% for post in posts %}
        {% ifchanged %}
            <h2>
                Группа {{ post.group }}
            </h2>
            <p>
                Описание группы: {{ group.description }}
            </p>
        {% endifchanged %}
        <h3> Автор: {{ post.author }},
            Дата публикации: {{ post.pub_date|date:"d M Y"}}
        </h3>
        <p>{{ post.text | linebreaksbr }}</p>
    {% endfor %}

{% endblock %}